* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border-style: solid; */
  font-size: 20px;
}

body {}


.container {
  /* width: 100%; */
  margin: 20px auto 0 auto;
  /* background-color: pink; */
  text-align: center;
}

.case {
  display: inline-block;
  width: 400px;
  border-style: solid;
  background-color: #e3e2df;
}

.screen {
  text-align: right;
  height: 75px;
  font-family: 'Quantico', sans-serif;
  font-size: 2em;
  padding: 10px;
  margin: 4%;
  border-style: solid;
  background-color: white;
  border-color: #5d001e;
}

.not-screen {
  margin: 4%;
  margin-top: 40px;
}

.numbers {
  width: 75%;
  float: left;
}

.row {
  height: 75px;
  display: flex;
  flex-direction: row-reverse;
}

#equals {
  float: right;
  width: 23%;
  height: 293px;
  margin-right: 1%;
  margin-top: 1%;
}

.clearing {
  clear: both;
  margin-bottom: 10px;
}

.operator {
  width: 25%;
  margin: 1%;
}

.number {
  width: 33%;
  margin: 1%;
}

button {
  background-color: #e3afbc;
  border-color: #5d001e;
  color: #5d001e;
  border-radius: 4px;
}

button:hover {
  background-color: #EE4c7c;
  font-size: 1.2em;
}
