* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border-style: solid; */
  font-size: 20px;
}

.container {
  margin: 30px;
  display: grid;
  justify-content: center;
}

.case {
  display: grid;
  justify-content: center;
  min-height: 75vh;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: minmax(100px, auto) repeat(5, 60px);
  background-color: #e3e2df;
  padding: 10px;
  border-style: solid;
}

.screen {
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  word-break: break-all;
  border-style: solid;
  background-color: white;
  border-color: #5d001e;
  border-radius: 4px;
  margin-bottom: 20px;
  font-family: 'Quantico', sans-serif;
}

#previous-calc {
font-size: 0.75rem;
color: grey;
padding-top: 5px;
padding-right: 10px;
}

#current-number {
  font-size: 2rem;
  padding: 0 10px 0 10px;
}

button {
  cursor: pointer;
  border: 1px solid #5d001e;
  background-color: #e3afbc;
  color: #5d001e;
  border-radius: 4px;
  margin: 4px;
}

button:hover {
  background-color: #EE4c7c;
  font-size: 1.2em;
}

.span-three {
  grid-row: span 3;
}
