* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.container {
  margin: 1rem;
  display: grid;
  justify-content: center;
  max-height: 100vh;
  max-width: 100vw;
}

.case {
  display: grid;
  justify-content: center;
  /* min-height: 75vh; */
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: minmax(5rem, auto) repeat(5, 3rem);
  background-color: #e3e2df;
  padding: 0.6rem;
  border-style: solid;
}

.screen {
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  word-break: break-all;
  border-style: solid;
  background-color: white;
  border-color: #5d001e;
  border-radius: 4px;
  margin-bottom: 1rem;
  font-family: "Quantico", sans-serif;
}

#previous-calc {
  font-size: 0.75rem;
  color: grey;
  padding-top: 0.5rem;
  padding-right: 0.7rem;
}

#current-number {
  font-size: 2rem;
  padding: 0 0.75rem 0 0.75rem;
}

button {
  cursor: pointer;
  border: 1px solid #5d001e;
  background-color: #e3afbc;
  color: #5d001e;
  border-radius: 4px;
  margin: 0.15rem;
}

button:hover {
  background-color: #ee4c7c;
  font-size: 1.2em;
}

.span-three {
  grid-row: span 3;
}
